body {
    padding: 0;
    margin: 0;
  }
  
  html, body, #map {
  height: 100%;
  width: 100vw;
  }

  button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    z-index: 1001;
    position: relative; left: 800px; bottom: 550px;
    display: block;
    
  }
  
  button {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  button:hover {
    background-color: #4CAF50;
    color: white;
  }